@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    height: 100%;
}

.aboutusSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../images/fondoupv.jpg");
    background-position: center +54%;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.5px;
    font-weight: 400;
  }

  /*
.scrollable-wrapper {
    overflow-x: auto; 
    overflow-y: hidden;
    white-space: nowrap;
    width: 150%; 
    height: 100vh; 
  }
  */
  .scrollable-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    
    white-space: nowrap;
    padding: 10px;
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    margin-top: 20px;
}

.scrollable-wrapper::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.scrollable-wrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
  
.container {
      display: inline-block;
      margin-top: 5%;
      margin-right: 1%;
      margin-bottom: 30px;
      position: relative;
      margin-left: 1%;
      overflow: visible;
    }
  
.card {
      width: 350px;
      height: 550px;
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      background: rgba(227, 173, 173, 0.05);
      backdrop-filter: blur(10px);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      }
.card__top {
        height: 155px;
        position: relative;
        
      }

.card__top img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
  
.profile__photo {
          width: 130px;
          height: 130px;
          position: absolute;
          bottom: -60px;
          left: 50%;
          transform: translateX(-54%);
      }
.profile__photo img {
            width: 100%;
            border-radius: 50%;
            height: 100%;
            object-fit: cover;
            border: 7px solid rgba(0, 0, 0, 0.35);
      }
    
  
.card__content {
        text-align: center;
        position: relative;
        color: #ffffff99;
        padding: 5em 2.5em;
        
    }

.card__content .names {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    
}

.card__content .about {
    margin-top: 120px;
    
    
}


.card__content h2 {
          font-weight: 700;
          font-size: 24px;
          color: #fff;
          text-wrap:wrap;
          
        }
  
.card__content h3 {
          font-weight: 400;
          margin: 5px 0 30px;
          font-size: 16px;
          color: #fff;
        }
  
.card__content p {
          text-align: left;
    }
  
a {
     text-decoration: none;
     color: #82bbfc;
  
     &:hover {
        text-decoration: underline;
            }
    }
    

      
  
a.button {
        text-decoration: none;
        color: #fff;
        background: rgba(0, 0, 0, 0.85);
        padding: 9px 30px 10px 30px;
        display: inline-block;
        margin-top: 2em;
        &:hover {
          background: rgba(0, 0, 0, 0.7);
        }
    }










body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background-color: #AFCBA5;
    color: #333;
    padding: 20px;
    width: 100%;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.homeSection {
    /*padding: 20px;*/
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    flex: 1;
    background-image: url("../images/fondoupv.jpg");
    background-position: center +54%;
    background-repeat: no-repeat;
}


.inputHeaders {
    opacity: 70%;
    background-color: #f4f4f4a9;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.inputHeaders h2 {
    margin-bottom: 10px;
}

.inputLabels {
    /*margin-top: 20px;*/
    padding: 20px;
    opacity: 70%;
    background-color: #caeebda9;
}

feature-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

feature-item h3 {
    margin-bottom: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #AFCBA5;
    color: #212020;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}



.resultDiv {
    padding: 10px;
}

.button:hover {
    background-color: #555;
}

footer {
    background-color: #AFCBA5;
    color: #333;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    
}


.theProjectSection {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/fondoupv.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pdf-container {
    width: 80%;
    height: 80%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.pdf-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.filesUsedSection {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Ensure content is positioned relative to the background */
    background-image: url("../images/fondoupv.jpg");
    background-size: cover;
    padding: 50px;
    box-sizing: border-box;
  }
  
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Space between images */
    width: 100%;
  }
  
  .image-container a {
    flex: 0 1 150px; /* Images will take up at least 150px, adjust as necessary */
    margin: 10px;
    background: #ffffff;
    border: solid 1px #e6e6e6;
    border-radius: 2px;
    display: inline-block;
    height: 100px;
    line-height: 100px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100px;
  }
  
  .image-container a span {
    background: #f2594b;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: normal;
    padding: 5px 10px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
  }
  
  .image-container a span:last-child {
    margin-left: -20px;
  }
  
  .image-container a:before,
  .image-container a:after {
    background: #ffffff;
    border: solid 3px #9fb4cc;
    border-radius: 4px;
    content: '';
    display: block;
    height: 35px;
    left: 50%;
    margin: -17px 0 0 -12px;
    position: absolute;
    top: 50%;
    width: 25px;
  }
  
  .image-container a:hover:before,
  .image-container a:hover:after {
    background: #e2e8f0;
  }
  
  .image-container a:before {
    margin: -23px 0 0 -5px;
  }
  
  .image-container a:hover {
    background: #e2e8f0;
    border-color: #9fb4cc;
  }
  
  .image-container a:active {
    background: #dae0e8;
    box-shadow: inset 0 2
  }
