<!--explain html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>About Us Developers</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <script src="https://kit.fontawesome.com/90ee6ee289.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <h1>The Life Expectancy Project</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('aboutus') }}">About</a></li>
                <li><a href="{{ url_for('theProject') }}">The Project</a></li>
                <li><a href="{{ url_for('filesUsed') }}">Files</a></li>
            </ul>
        </nav>
    </header>

    <section class="explainsection">
        <h2>Cómo calculamos tu esperanza de vida:</h2>
        <section>
            <h3>La esperanza de vida</h3>
            <p>La esperanza de vida es una predicción, de la edad a la que una persona morirá, basada en la media de las edades de muerte en un país.</p>
            <p>Este número no se ajusta perfectamente a todos los casos, dada la varianza en las edades de muerte de las personas, pero sirve para hacerse una idea de la edad a la que se espera que, con tu nivel de vida actual, mueras.</p>
            <p>Por muy triste que pueda parecer pensar en la fecha de muerte, queremos ofrecer un punto de vista que esperance a la gente, brindamos la oportunidad de cambiar tu estilo de vida para mejorar tu pronóstico, dejándo de fumar, bebiendo menos, adoptando dietas más saludables, comenzando algún deporte...</p>
        </section>

        <section>
            <h3>Nosotros</h3>
            <p>Nuestro interés personal por realizar este trabajo se basa en la evaluación del mismo para la asignatura "Proyecto I" del grado universitario en Ciencia de Datos de la Universitat Politècnica de València.</p>
            <p>Por otro lado, el ámbito de la salud siempre nos ha interesado y queríamos aprovechar el tiempo y los medios a nuestra disposición para poder brindar un análisis útil para el resto de personas que no nos evalúan el trabajo y que, sin embargo, tienen un interés legítimo por él, para que puedan tomar el trabajo que hemos realizado y que les sirva como avance en sus proyectos e investigaciones.</p>
        </section>

        <section>
            <h3>La calculadora</h3>
            <p>Lo que llamamos calculadora, es un modelo de regresión lineal entrenado con más de 8000 datos con variables nacionales de esperanza de vida, inversión en salud, renta per cápita, etc.</p>
            <p>Este modelo lo utilizamos para predecir valores de esperanza de vida en base a otras 18 variables, proporcionando una estimación realmente precisa (+- 2 años) de la media de la esperanza de vida de los ciudadanos de un país.</p>

        </section>

        <section>
            <h3>El resultado</h3>
            <p>El resultado no tiene por qué ser la edad a la que vas a morir. Pero aproxima la edad media alrededor de la cual va a morir la gente del país que nos indiques.</p>
            <p>Los resultados obtenidos durante la investigación llevada a cabo en la asignatura son concluyentes, dando a entender que fumar, beber alcohol, y tener colesterol alto bajan la esperanza de vida de los individuos de un país, y que los años de escolarización elevados, la inversión en sanidad y el Producto Interior Bruto aumentan la esperanza de vida de los individuos de un país.</p>
            <p>Estos resultados son muy claros, pero no podemos utilizarlos para ofrecer una esperanza de vida individualizada con tu propia renta, tus años de escolarización y demás porque los datos trabajados son nacionales y no individuales.</p>
        </section>
    </section>

    <footer>
        <p>&copy; 2024 Grupo Verde. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
