<!--isabelle html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>About Us Developers</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <script src="https://kit.fontawesome.com/90ee6ee289.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <h1>The Life Expectancy Project</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('aboutus') }}">About</a></li>
                <li><a href="{{ url_for('theProject') }}">The Project</a></li>
                <li><a href="{{ url_for('filesUsed') }}">Files</a></li>
            </ul>
        </nav>
    </header>

    <section class="isabellesection">
        <h2>Sobre Isabelle:</h2>
        <section>
            <h3></h3>
            <p>Curriculum no disponible, contacte con Isabelle por correo si quiere más información.</p>
            <p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p><p> </p>
        </section>
    </section>

    <footer>
        <p>&copy; 2024 Grupo Verde. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
